[Desktop Entry]
Name=SUN (Slackware Update Notifier)
Comment=Slackware Update Notifier
Exec=/usr/bin/sun start --gtk
Icon=sun
Terminal=false
Type=Application
Categories=Application;System
GenericName=Tray notification applet
